@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.description {
    font-size: 21px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    color: #2e2e2e;
    margin: 17px auto 0;
    width: 70%;
}

@import 'base/variables.scss';
@import 'blocks/header.scss';
@import 'blocks/menu.scss';
@import 'blocks/promo.scss';
@import 'blocks/btn.scss';
@import 'blocks/delivery.scss';
@import 'blocks/littlemenu.scss';
@import 'blocks/work.scss';
@import 'blocks/title.scss';
@import 'blocks/divider.scss';
@import 'blocks/agent.scss';
@import 'blocks/prices.scss';
@import 'blocks/consultation.scss';
@import 'blocks/manager.scss';
@import 'blocks/scheme.scss';
@import 'blocks/carousel.scss';
@import 'blocks/feedback.scss';
@import 'blocks/media.scss';