.agent {
    padding-top: 58px;
    padding-bottom: 75px;
    background: url('../img/agent.jpg') center center/cover no-repeat;
    &__image {
        width: 102px;
        height: 102px;
        display: block;
        margin: 0 auto;
    }
    &__title {
        font-size: 26px;
        font-weight: 700;
        text-align: center;
        color: #fff;
        margin-top: 20px;
    }
    &__descr {
        font-size: 19px;
        font-weight: 300;
        line-height: 27px;
        text-align: center;
        color: #fff;
        margin-top: 22px;
    }
}