.feedback {
    padding: 62px 0 79px;
    min-height: 438px;
    background: url('../img/feedback.jpg') center center/cover no-repeat;
    &__black {
        padding-top: 20px;
        margin: 0 auto;
        height: 80px;
        width: 80%;
        background-color: #25333c;
        .header {
            font-size: 19px;
            font-weight: 700;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
        }
        .subheader {
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
    }
    &__form {
        padding: 18px 42px 87px;
        background-color: rgba(255, 255, 255, 0.7);
        width: 80%;
        margin: 0 auto;
        position: relative;
    }
    &__input {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 71px;
        grid-auto-rows: auto;
        gap: 7px;
        .input-wrap {
            display: flex;
            flex-direction: column;
        }
        input {
            height: 45px;
            border: 1px solid rgba(0, 0, 0, 0.21);
            border-radius: 20px;
            padding-left: 34px;
            font-size: 13px;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
            color: rgba(16, 16, 16, 0.7);
        }
        .text {
            grid-column: 1 / 4;
            grid-row: 2 / 3;
            border: 1px solid rgba(0, 0, 0, 0.21);
            resize: none;
            border-radius: 10px;
            padding-top: 18px;
            padding-left: 34px;
            font-size: 13px;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
            color: rgba(16, 16, 16, 0.7);
        }
        label.error {
            font-weight: 300;
            font-size: 12px;
            margin-top: 10px;
        }
    }
    &__button {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        bottom: 25px;

    }
}