@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .header {
        &__wrapper {
            max-width: 960px;
        }
        &__description {
            span {
                display: none;
            }
        }
        &__phone {
            font-size: 16px;
        }
    }
    .menu {
        width: 600px;
    }
    .btn {
        &_header {
            display: none;
        }
        &_descr {
            display: block;
            margin-top: 10px;
        }
    }
    .promo {
        &__descr {
            font-size: 20px;
        }
        &__title {
            font-size: 65px;
        }
        &__subtitle {
            font-size: 35px;
        }
        &__item {
            &_descr {
                font-size: 14px;
            }
        }
    }
    .btn {
        &_big {
            font-weight: 500;
        }
    }
    .description {
        font-size: 18px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .header {
        &__wrapper {
            max-width: 720px;
            flex-direction: column;
        }
        &__phone {
            font-size: 14px;
        }
        &__description {
            width: 300px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    .promo {
        padding-top: 250px;
        &__descr {
            font-size: 17px;
        }
        &__title {
            font-size: 50px;
        }
        &__subtitle {
            font-size: 24px;
        }
        &__item {
            &_descr {
                font-size: 14px;
            }
        }
        &__divider {
            &:before {
                width: 320px;   
            }
            &:after {
                width: 320px;
            }
        }
    }
    .menu {
        margin-top: 15px;
    }
    .btn {
        &_descr {
            margin-top: 0;
        }
    }
    .prices {
        padding-bottom: 40px;
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, auto);
            grid-auto-rows: auto;
            gap: 30px;
        }
        &__item {
            .price {
                font-size: 20px;
            }
            .descr {
                margin: 19px 20px 15px;
            }
        }
    }
    .btn {
        &_card {
            bottom: 15px;
        }
    }
    .consultation {
        &__form {
            padding: 50px 0;
        }
        &__input {
            flex-direction: column;
            input {
                margin: 20px auto;
            }
        }
    }
    .feedback {
        &__input {
            grid-template-columns: 1fr;
            grid-template-rows: 45px 45px 45px 75px;
            .text {
                grid-column: 1 / 2;
                grid-row: 4 / 5;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .menu {
        display: none;
    }
    .header {
        max-width: 540px;
        flex-direction: row;
        &__hamburger {
            visibility: visible;
        }
        &__wrapper {
            flex-direction: row;
            width: 400px;
            justify-content: space-around;
        }
        &__description {
            flex-direction: column;
        }
    }
    .promo {
        padding-top: 150px;
        &__title {
            font-size: 34px;
        }
        &__subtitle {
            font-size: 20px;
        }
        &__divider {
            &:before {
                width: 220px;
            }
            &:after {
                width: 220px;
            }
        }
        &__item {
            &_descr {
                font-size: 12px;
            }
        }
    }
    .btn {
        &:hover {
            box-shadow: 0;
        }
    } 
    .work {
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(8, auto);
        }
    }
    .title {
        font-size: 20px;
    }
    .description {
        font-size: 15px;
    }
    .consultation {
        &__header {
            font-size: 22px;
        }
    }
    .scheme {
        &__wrapper {
            justify-content: space-around;
        }
    }
    .carousel {
        &__inner {
            width: 100%;
        }
        &__descr {
            font-size: 14px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .header {
        max-width: 300px;
        &__wrapper {
            width: 300px;
        }
        &__description {
            width: 160px;
        }
        &__phone {
            display: none;
        }
    }
    .promo {
        padding-bottom: 40px;
        &__service {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, auto);
            grid-auto-rows: auto;
        }
        &__divider {
            &:before {
                width: 130px;
            }
            &:after {
                width: 130px;
            }
        }
    }
    .title {
        font-size: 15px;
    }
    .subtitle {
        font-size: 14px;
    }
    .work {
        padding-bottom: 20px;
        &__wrapper {
            column-gap: 15px;
        }
        &__descr {
            font-size: 12px;
        }
    }
    .delivery {
        padding-bottom: 20px;
        &__wrapper {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, auto);
            font-size: 12px;
        }
    }
    .agent {
        padding-bottom: 20px;
        &__title {
            font-size: 22px;
        }
        &__descr {
            font-size: 14px;
            margin-top: 14px;
        }
    }
    .prices {
        padding-top: 30px;
        padding-bottom: 20px;
        &__wrapper {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, auto);
            grid-auto-rows: auto;
            row-gap: 30px;
        }
    }
    .consultation {
        padding: 30px 0;
        &__header {
            font-size: 17px;
        }
        &__input {
            input {
                margin: 10px 0;
            }
        }
    }
    .scheme {
        padding-bottom: 30px;
        &__wrapper {
            justify-content: center;
        }
    }
    .carousel {
        padding-top: 30px;
        padding-bottom: 30px;
        .slick-prev {
            left: 54px;
        }
        .slick-next {
            right: 54px;
        }
    }
    .feedback {
        padding: 30px 0 30px;
        &__form {
            padding: 5px 3px 87px;
        }
    }
}